.productsContainer {
  width: 1200px;
  padding: 10px 20px;
  margin: 20px auto;
  height: 100%;
}
.categorySectionStyle {
  margin-bottom: 30px;
  text-align: center;
}
.sortByDropdown {
  min-width: 150px !important;
  max-width: 250px;
}
