.categorySection {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.detailContainer {
  width: 768px;
  padding: 10px 20px;
  margin: 50px auto;
  height: 100%;
  display: flex;
  gap: 2;
}
.detailContainer .child-divs {
  padding: 10px 20px;
}
.nameContainer {
  display: flex;
  justify-content: space-between;
}
